<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome to the IMDB Database</h1>
  

  <div>
    What would you like to add to the database? :-
  </div>

<p><a href="/actor">Enter new actor to the IMDB database</a></p>

<p><a href="/director">Enter new director to the IMDB database</a></p>
<p><a href="/producer">Enter new producer to the IMDB database</a></p>
<p><a href="/admin">Enter new admin to the IMDB database</a></p>
<p><a href="/awards">Enter new cinema awards to the IMDB database</a></p>
<p><a href="/picture">Enter new motion picture to the IMDB database</a></p>
<p><a href="/tvseries">Enter new information about a TV Series to the IMDB database</a></p>
<p><a href="/movies">Enter new information about a movie to the IMDB database</a></p>
<p><a href="/admin">Enter new admin for the IMDB database</a></p>
</form>

<br>
<br>
<br>
<p><a href="/logout">Logout</a></p>
</body>


</html>