<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome to the IMDB Database</h1>
  


<p><a href="/view_wishlist">View Wishlist</a></p>

<p><a href="/view_movies">View Movies</a></p>

<p><a href="/view_awards">View Awards</a></p>
<p><a href="/view_reviews">View Reviews</a></p>
<p><a href="/best_critic_movies">View Best Movies according to critics</a></p>
<p><a href="/find_by">Find Motion Pictures</a></p>
</form>

<br>
<br>
<br>
<p><a href="/logout">Logout</a></p>
</body>


</html>