<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<h1>Get Data</h1>
<body>
<p><a href="/get_picture_table">Motion Pictures</a></p>
<p><a href="/get_actor_table">Actors</a></p>
<p><a href="/get_director_table">Directors</a></p>
<p><a href="/get_producer_table">Producers</a></p>
<p><a href="/get_award_table">Awards</a></p>
<p><a href="/get_review_table">User Reviews</a></p>
<p><a href="/get_user_table">All Users</a></p>
<p><a href="/get_director_producer_table">Director-Producers Patnerships</a></p>



<br>

<p><a href="/">Go Back</a></p>

<br>
<br>
<br>
<p><a href="/logout">Logout</a></p>

</body>


</html>