<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome to the IMDb Database!!</h1>



<form method="POST" action="/user/login">
<h3>Sign in to your account</h3>
<p>User: <input type="number" name="id"></p>
<p>Password: <input type="password" name="password"></p>
 <input type="submit" value="Sign In"></p> 
 <p><a href="/user/new">Create a new user account</a></p>
</form>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<p><a href="/log">Admin login</a></p>
</body>


</html>